.terms{
    width: 400px;
    height: 250px;
    margin: 10px auto;
    overflow: scroll;
}
.btn-container{
    text-align: center;
    margin: 0 auto;
}
.btn{
    background: #ff0060;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    border: 0;
    transition: all 0.5s;
    transform: translateX(0) scale(1.1);
   
}
button[disabled] {
    opacity: 0.1;
    transform: translateX(-500%);
}